
ul {
    list-style-type: none;
  }

*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}


.background{
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;


}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    padding-left: 8%;
    padding-right: 8%;
    width: 100% ;
    position: fixed;
    background-color: #191919;
    z-index: 9;
    font-size: 19px;
}

.logo{
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 1px;
}
span{
    color: #7600a9;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
}




nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #7600a9;
    transform: .4s;
}

.btn{
    background-color: #7600a9;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .2s;
}

.btn:hover{
    transform: scale(1.2);
}

.Main{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.santos {
    color: #7600a9;
    position: relative;
    text-decoration: none;

}

.santos::before {
    background: white;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
  }
  
  a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }

.contato, .redes {
    display: inline-block;
}
.entre-em-contato {
    width: 940px;
    margin: 0 auto;
    
}

.entre-em-contato li {
    padding: 10px;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, rgb(102, 64, 123) 0%, rgb(252, 41, 119) 100%,rgb(251, 168, 214) 100.1%) 1;
    
}

.entre-em-contato .entre {
    background: linear-gradient(89.9deg, rgb(102, 64, 123) 0%, rgb(252, 41, 119) 100%, rgb(251, 168, 214) 100.1%);   
    float: left; 
}

.entre-em-contato li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    margin: 10px;
    transition-delay: 0.1s;
}


.entre-em-contato li a:hover {
    color: #fffdd0;
}
 .redes-img {
    padding-top: 1em;
    padding-right: 4px;
    width: 5%;
 }

 .redes-sociais li{
    display: inline;
 }

 .redes li:hover{
    opacity: 0.7;
    transition: 0.2s;
 }

.foto {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}

.Main span{
    color: #7600a9;
}

h1{
    color: #fff;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

h3{
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
}


.Container-btn {
    background: blueviolet;
    height: 50px;
    width: 335px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align:  center;
    width: 380px;
    max-width: 100%;
    position: relative;
}



.Container-btn form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #7600a9;
    border-radius: 30px;
    outline: none;
}

.Container-btn form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #7600a9;
    color: #fff;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    right: 6px;
    top: 6px;
    
}

.background-color-Sobre{
    background-color: #191919;
    width: 100%;
    padding: 100px 0px;
    
}

.background-color-Sobre img{
    width: 430px;
    height: auto;
}

.Text-sobre{
    width: 550px;
  }

.main-sobre{
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 1130px;
   margin: 0 auto;
}

.Text-sobre h2{
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.Text-sobre h5{
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.Text-sobre p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background-color: #7600a9;
    color: #fff;
    text-transform: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 30px;
    transition: .4s;
    
}


button:hover{
    background-color: transparent;
    border: 2px solid #7600a9;
    cursor: pointer;
}

.Container-serviços{
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: #fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.Caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}
.fas {
    cursor: pointer;  
}


.Card{
    background: #191919;
    min-height: 380px;
    max-height: 600px;
    width: 335px;
    max-width: 600px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align:  center;
    
}

.Card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #7600a9;
}

.Card .dropdown{
    display: inline-block;
    font-size: 20px ;
    place-items: center;
    border: 1px solid #CCC;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: white;
    margin: 5px 0px;
    transition: 0.2s;

}
.Card .teste{
    overflow: scroll;
}

.sub-menu{
    display: none;
    max-height: 100px;
    overflow-y: auto;  
}
.rotate{
    transform: rotate(90deg);
}




h5{
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}

.Paragrafo-button{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.Paragrafo-button a {
    color: #fcfc;
    text-decoration: none;
    font-weight: bold;
    
}

.Paragrafo-button .item .sub-menu .sub-item {
    background-color: #303030;
    display: block;
    color: rgb(248, 243, 243);
    margin-bottom: 3px;
    text-transform: none;
}




.Paragrafo-button button{
    margin-top: 25px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sub-menu::-webkit-scrollbar {
    background-color: #7600a9;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }


.sub-menu::-webkit-scrollbar:hover {
    background-color: #a8bbbf;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
.gallery-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  
.Card .projeto {
    background-color: #7600a9;
}

.projetos {
    width: 100%;
    height: 500px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin: 0 auto;
}

.menu-carrosel {
    position: relative;
    padding: 15px;
    max-width: 900px;
    
}

 /* .gallery-wrapper {
    overflow-x: auto;
} */

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 25px;
} 

.gallery input {
    display: none;
}



.projetos-aberto h1 {
    margin: 0px 0px 0px;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 40px;
    text-align: left;
}

.projetos-aberto p {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
}

.projetos-menu {
    text-align: center;
    background-color: #7600a9;
    border-radius: 10px;
    display: none;
    
}

.projetos-menu a {
    text-decoration: none;
    color: #000;
    
}

.projetos-menu li:hover {
    background-color: #3d0057 ;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
    transform: scale(1.02);
    
}

/* Hide scrollbar for Chrome, Safari and Opera */
.gallery-wrapper::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
.gallery-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

/* .arrow-left,
.arrow-right {
      position: absolute;
      top: 0;
      left: 0;
      right: auto;
      bottom: 0;
      font-size: 40px;
      line-height: 250px;
      text-align: center;
      cursor: pointer;
      border: none;
      background: linear-gradient(to left, transparent 0%, black 200%);
      transition: all 600ms ease-in-out ;
      border-radius: 4px;
      z-index: 2;

  }

.arrow-right {
    position: absolute;
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left:hover,
.arrow-right:hover {
        background-color: transparent;
        border: 0px;
        cursor: pointer;
        transform: scale(1.06);
} */

.item-carrosel {
    --s: 250px;   /* the size of the image */
  --b: 8px;     /* the border thickness*/
  --g: 14px;    /* the gap */
  --c: #7600a9; /* the color */
  
  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s)/2) solid #0009;
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: 0.3s;
}

.item-carrosel:hover {
    outline: var(--b) solid var(--c);
  outline-offset: var(--g);

}

.item-carrosel + .item-carrosel {
    border-radius: 50%;
}

/* .item-carrosel {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    opacity: 0.2;
    transition: all 600ms ease-in-out;
    border-radius: 10px;
}

.item-carrosel:hover {
    cursor: pointer;
    transform: scale(1.02);

} */
.current-item {
    opacity: 1;
}

.projetos-aberto {
    background-color: #191919;
    
}

.projetos-aberto-sub {
    background-color: #191919;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.contato-form {
    width: 100%;
    max-height: 800px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin: 0 auto;
}

.contato-form h1 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

.form {
    background-image: url(background-form.jpg);
    width: 60%;
    height: 600px;
    border-radius: 10px;
}

.formularios {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    
}

.habilidades-e-cursos {
    background-color: #101010;
}

.input-padrao {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 40%;
    
}

textarea {
    resize: none;
  }

  .enviar {
    width: 30%;
    padding: 10px 0;
    background: #7600a9;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.enviar:hover {
    background: #3d0057;
    transform: scale(1.1);
}

#contato:before {
    content:"";
    display:block;
    height:90px; /* fixed header height*/
    margin:-90px 0 0; /* negative fixed header height */
    }

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h6{
    font-size: 35px;
    color: #fff;
}

footer p{
    color: #fff;
    font-size: 15px;
    width: 500px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 23px;
}

.Redes-sociais{
    display: flex;
    
}

.Redes-sociais a{
    background-color: #7600a9;
    width: 45px;
    height: 45px;
    padding: 15px;
    border-radius: 50%;
    margin: 22px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Redes-sociais a:hover{
    transform: scale(1.2);
    transition: .3s;
}

.end{
    position: absolute;
    color: #7600a9;
    bottom: 35px;
    font-size: 14px ;
}

.main-sobre, .Container-serviços, .contato-form {
    visibility: hidden;
}

.projetos-e-trabalhos {
    background-color: #191919 ;
}

.contato-reveal {
    background-color: #000;
}